html {
    font-family: 'kolikoThin';
    font-weight: bold;
    font-size: 20pt;
    background: #DDD;
}

body {
    max-width: 1100px;
    margin: auto;
}

a {
    color: #222;
    text-decoration: none;
}

li {
    list-style: none;
    width: 100%;
}

ol {
    padding: 0;
}

li>ol>li {
    padding-left: 2rem;
}

li>ol {
    transition: padding-bottom;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}


.dossier {
    font-family: "kolikoRegular";
    font-size: 1.2rem;

    line-height: 1.5rem;
    letter-spacing: 2px;
}

.dossier-vide {
    font-style: italic;
}

.visible {
    padding-bottom: 1rem;
}

i {
    width: 1.5rem;
    text-align: center;
}
